body {
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", sans-serif, Arial;
	font-weight: bold;
	color: black;
}

.feature-item h3 {
	font-size: 30px;
	line-height: 42px;
	font-weight: bold;
}

.news h2 {
	font-size: 30px;
	line-height: 42px;
	font-weight: bold;
	color: #000000;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}